<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LISM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Historique</servlet-name>
    <servlet-class>servlets.Historique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Historique</servlet-name>
    <url-pattern>/Historique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FicheCoursSession</servlet-name>
    <servlet-class>servlets.FicheCoursSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheCoursSession</servlet-name>
    <url-pattern>/FicheCoursSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FicheCoursSessionItem</servlet-name>
    <servlet-class>servlets.FicheCoursSessionItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheCoursSessionItem</servlet-name>
    <url-pattern>/FicheCoursSessionItem</url-pattern>
  </servlet-mapping>
</web-app>